html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 15rem;
  font-family: sans-serif;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hidden {
  display: none !important;
}

#header {
  padding: .5rem;
}

#title-container {
  margin-bottom: .5rem;
}

#title {
  font-size: xx-large;
}

#refresh-btn {
  height: 1.75rem;
  aspect-ratio: 1;
  border: none;
  background: no-repeat center url(icons/refresh-circle-outline.svg);
  cursor: pointer;
}

#search-input {
  width: 100%;
  padding: .5rem;
  font-size: large;
}

#content {
  max-height: 20rem;
  padding-top: .1rem;
  overflow-y: auto;
}

#connection-status {
  height: 1rem;
  aspect-ratio: 1;
  margin-right: .2rem;
  background: no-repeat center url(icons/alert-circle-outline.svg);
}

#footer {
  padding: .1rem .5rem;
  font-size: small;
  background-color: #ececec;
  overflow: hidden;
}

/* -- bookmark styling -- */
.bookmark {
  display: flex;
  padding: .75rem 1rem;
  align-items: center;
  cursor: pointer;
}

.bookmark:hover {
  background-color: #f5f5f5;
}

.bookmark .icon {
  width: 1.5rem;
  aspect-ratio: 1;
  margin-right: .75rem;
}

.bookmark .title {
  font-size: large;
  font-weight: bold;
  text-decoration: none;
}

.bookmark .error {
  color: #d31b1b
}

/* -- loading animations -- */
.spinning {
  animation: spin 1.75s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.lds-ellipsis-container {
  display: flex;
  justify-content: center;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  height: 3rem;
  width: calc(9.5 * var(--spacing));

  --spacing: .6rem;
}

.lds-ellipsis div {
  position: absolute;
  top: 1rem;
  height: .75rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #000;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: var(--spacing);
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: var(--spacing);
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: calc(4 * var(--spacing));
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: calc(7 * var(--spacing));
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(calc(3 * var(--spacing)), 0);
  }
}